# Credenciales
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
build/
dist/
*.spec

# Archivos temporales
actualizacion_temporal.exe
firmas_temporales/

# Entornos virtuales
venv/
.venv/
env/

# Editores
.vscode/
.idea/

# Node.js
node_modules/

# Sistema operativo
Thumbs.db
.DS_Store